# `sheldon` configuration file
# ----------------------------
#
# you can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# see the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[plugins]

# lazyload for sheldon
[plugins.zsh-defer]
github = "romkatv/zsh-defer"
[templates]
defer = "{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}"

[plugins.zsh-autocomplete]
github = "marlonrichert/zsh-autocomplete"
apply = ["defer"]

[plugins.zsh-syntax-highlighting]
github = "zsh-users/zsh-syntax-highlighting"
apply = ["defer"]

[plugins.zsh-abbriviation]
github = "olets/zsh-abbr"
apply = ["defer"]

[plugins.zsh-docker-completion]
github = "greymd/docker-zsh-completion"
apply = ["defer"]

[plugins.zsh-z]
github = "agkozak/zsh-z"
apply = ["defer"]

# rust completion
# [plugins.rust-zsh-completions]
# github = "ryutok/rust-zsh-completions"
# apply = ["defer"]

# Lazyloading for zsh
[plugins.dotfiles-defer]
local = '~/.dotfiles/.zsh/defer'
use = ['*.zsh']
apply = ['defer']

# Synchronizing plugin with lanching zsh
[plugins.dotfiles-sync]
local = '~/.dotfiles/.zsh/sync'
use = ['*.zsh']
apply = ['source']

# For example:
#
# [plugins.base16]
# github = "chriskempson/base16-shell"
